<h1> <%= @user.name %> </h1>

<p> Email: <%= @user.email %> </p>

<p><%= link_to 'Edit', edit_user_path(@user) %></p>
<p><%= link_to 'Back', users_path %></p>

<form method="POST" action="/users/<%=@user.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete"/>
</form>

<p></p>

<p>Your current location is: <%= @user.get_user_loc %></p>

<button onclick="location.href='http://api.open-notify.org/iss-now.json'" type="button">Where is the Space Station?</button>

<p><%= @user.get_iss["iss_position"] %> </p>